
.header {
	
}
#thanks {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRGmw5MAxHXGF8gjGQD_o-rGRttfFQd5RjBWwD7WPup6q4MAVD");
	background-repeat: no-repeat;
	background-size: cover;
}
h2 {
	font-size:30px;
	color:white;
	text-align:left;
	margin-top:200px;
	margin-left:30px;
	opacity:0.7;
}
.vid {
	position:absolute;
	left:12%;
}
.container-title {
	text-align:left;
	margin-left:15px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 180px;
    height:20px;
    text-align: center;
    text-decoration: none;
    border-radius:5px;
    margin:10px;
}
.fa:hover{
	opacity:0.7;
}
.fa-check {
	background: linear-gradient(to bottom,#f7b231 0,#de9440 100%);
	border-top-color: #f7b231;
    border-bottom: 3px solid #c68f42;
    font-weight: 600;
    color:white;

}
.fa-facebook {
	background:#3b5998;
	color:white;
	
}
.fa-twitter {
	background:#55ACEE;
	color:white;
}
.button {
	padding:10px;
	font-size:30px;
	width:180px;
	height:20px;
	text-align:center;
	text-decoration:none;
	border-radius:5px;
	background:white;
	color:green;
	/*z-index:1;*/

}
.button:hover {
	opacity:0.7;
}
.container{
/*	display:block;*/
	background-color:white;
	width:42%;
	height:100%;
	border-style:solid;
	border-color:grey;
	border-width:1px;
	position: absolute;
	left:12%;
	top:415px;
/*	bottom:700px;*/
	
}


.content {
	margin:10px;/* margin just for content within container*/
	width: 50%;
	position: relative;
}
.bottom-share{
	float:right;
	position:relative;
}

/*-------------------Donate Box----------------->*/

#donate-box{
	display: block;
	position: absolute;
	width: 500px;
	height: 225px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
	border-radius: 8px;
	left: 55%;
	top: 130px;
	z-index: 2;
}

#donated{
	position: relative;
	display: inline;
	left: 10px;
	top: 5%;
}

#total{
	position: relative;
	display: inline;
	left: 10px;
}

#donation-bar{
	position: absolute;
	width: 400px;
	height: 10px;
	background-color: green;
	left: 20px;

}

#donations{
	position: absolute;
	display: block;
	left: 20px;
}

#donate-button{
	width: 400px;
	height: 50px;
	color: white;
	font-size: 200%;
	background-color: orange;
	display: block;
	border-style: none;
	border-radius: 8px;
	margin: 0 auto;
	position: relative;
	top: 60px;
}

#share-fb-button{
	width: 400px;
	height: 40px;
	color: white;
	font-size: 180%;
	background-color: orange;
	display: block;
	border-style: none;
	border-radius: 8px;
	margin: 0 auto;
	position: relative;
	text-decoration: none;
	top: 70px;
}

#individual-donations{
	display: block;
	position: absolute;
	width: 500px;
	height: 1000px;
	background-color: white;
	border-width: 1px;
	border-style: none;
	border-color: lightgray;
	left: 55%;
	z-index: 1;
}

#creator{
	position: absolute;
	top: 350px;
}

#underline{
	display: block;
	height: 1px;
	width: 500px;
	border-bottom-style: dotted;
	border-bottom-color: black;
	border-bottom-width: 2px;
}

#bean-icon{
	display: inline-block;
	position: absolute;
	width: 125px; 
	height: 83;
	border-radius: 40px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	top: 25px;
}

#creator-name{
	display: block;
	width: 300px;
	position: absolute;
	left: 150px;
	top: 30px;
}

#underline2{
	display: block;
	position: absolute;
	height: 1px;
	width: 500px;
	border-bottom-style: dotted;
	border-bottom-color: black;
	border-bottom-width: 2px;
	top: 500px;
}

#donator1{
	position: absolute;
	top: 500px;
}

#Robbie{
	display: inline-block;
	position: absolute;
	width: 125px; 
	height: 83;
	border-radius: 40px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	top: 25px;
}
#donator2{
	position: absolute;
	top: 700px;
}

#spongebob{
	display: inline-block;
	position: absolute;
	width: 125px; 
	height: 83;
	border-radius: 40px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	top: 25px;
}
/*--------------------------------------------*/


/*go fund me image*/
html{
	font-family: Lato, Arial, sans-serif;
}

#navbar{
	width: 100%;
	height: 90px;
	background-color: blue;
	position: fixed;
}

#footerbar{
	width: 100%;
	height: 90px;
	background-color: red;
	bottom: 0;
	margin-bottom: 0px;
	position: fixed;
}

.navbarimage{
	width: 140px;
	height: 70px;
}

.footerbarimage{
	width: 25px;
	height: 24px;
}

.floatleft{
	float: left;
}

.floatright{
	float: right;
}

.navbarli{
	list-style: none;
}

.footersocialmedia{

}

/*FONTS:

Headers: Lato, Arial, sans-serif;
Body: Arial, sans-serif;

NAVBAR:

font size: 17px
line height: 17px
letter psacing normal
text align: left
color: #5d8000
HOVER: 384d00
bacground: #ffffff

.position-relative
content: 1200x53
padding: RT 16 L 16
font size: 17px
line height: 25px
letter spacing normal
text align: start
color: #333333
background: #ffffff

START A FUNDRAISER:


ACTION BUTTONS:
content:384x32;
border: top 9, rt 16;



facebook button:
content: 120x32
padding 6px;
border: left6


@media screen and (min-width: 32.5em){
	body{
		font-size: 1.0625rem;
	}
}
*/
@media screen and (max-width: 960px) { 
  body {
    left: 50%;
      
    background-color:lightblue;
    background-size:cover;
    background-repeat: no-repeat;
      }
   }

